# البيئة الوهمية
venv/
env/

# ملفات بايثون المؤقتة
__pycache__/
*.pyc

rescue.py

# قواعد البيانات (لكي لا ترفع بيانات المستخدمين الحقيقية)
*.db
*.sqlite3
instance/

# ملفات البيئة السرية
.env

node_modules/